<form name="input" action="/store">
Want to add your favorite movie to our database?
  <input type="string" name="name" placeholder="Movie name here">
   <input type="string" name="image" placeholder="Image link here">
  <input type="string" name="link" placeholder="IMDB link here">
<input type="submit" value="Submit">
</form>